<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}Test{% endblock %}</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  {% block head %}{% endblock %}
</head>
<body>
<header>
  <div class="brand">
    <h1><a href="{{ url_for('index') }}">Test</a></h1>
  </div>
</header>

<main>
  {% block content %}{% endblock %}
</main>

<footer class="muted small">
</footer>
</body>
</html>
